<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>New Character</title>
  </head>
  <body>
    <%= yield %>
    <p>Click <a href="/">here</a> to go back to the homepage</p>
  </body>
</html>
